<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<!--
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=upworkdb;Persist Security Info=True;User ID=upwork;Password=Lunrethtesting9999" providerName="System.Data.SqlClient"/>
	  -->
		<add name="DefaultConnection" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=database_upwork;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>

	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2"/>
		<httpRuntime/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701">
				<providerOption name="CompilerVersion" value="v4.0"/>
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
		</compilers>
	</system.codedom>
	<!-- Forms Authentication -->
	<system.web>
		<authentication mode="Forms" >
			<forms defaultUrl="Home.aspx" loginUrl="Default.aspx" slidingExpiration="true" timeout="2880"></forms>
		</authentication>
	</system.web>
	<!-- Every other page is not public unless registered -->
	<system.web>
		<authorization>
			<allow roles="user"/>
			<deny users="*"/>
		</authorization>
	</system.web>
	<!-- Register is free to access for everyone -->
	<location path="Register.aspx" allowOverride="true">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<!-- Recover password is free to access for everyone -->
	<location path="Recover.aspx" allowOverride="true">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>
